h1 {
    color: palevioletred;
    text-align: center;
}

h2 {
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    color: darkorange;
}

h4 {
    color: lawngreen;
}

ul {
    color: orchid;
}

ol {
    color: brown;
}

.Weeks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;  
}

.Weeks a {
    color: black;
    text-decoration: none;
}

.Weeks a:hover {
    color:#8fb344;
}