h1 {
    color: palevioletred;
    text-align: center;
}

h2 {
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: darkorange;
}

h4 {
    color: lawngreen;
}

ul {
    color: orchid;
}

ol {
    color: brown;
}